.elem {
  list-style: none;

  font-size: 10px;
  font-family: "AvenirNext", "arial", "helvetica", sans-serif;
  color: #0c121c;

  background-color: #fff;
  padding: 16px 7px;
  transition: all .4s;

  line-height: 1.1;
  font-weight: 600;
  cursor: pointer;
  letter-spacing: 1.2px;

  display: flex;
  align-items: center;
}

.elem:not(:last-child) {
  border-bottom: 1px dotted #ccc;
}

.elem:hover {
  background-color: #f8f9f9;
  text-decoration: uppercase;
  color: green;
}

.icon {
  font-size: 17px;
  margin-right: 20px;
}