.block {
  width: 330px;
  display: flex;
  list-style: none;
}

.linkNav {
  display: block;
  color: #0c121c;
  font-size: 11px;
  font-family: Arial, Helvetica, sans-serif;
  text-shadow: 1px 0px 0px rgb(0, 0, 0);
  padding: 30px 10px;
  letter-spacing: 2px;
  cursor: pointer;
}

.linkNav:hover {
  background-color: #e9ecec;
}

.button {
  outline: 0;
  border: 0;
  background-color: rgba(0, 0, 0, 0);
}

.active {
  text-decoration: underline;
}