.card {
  width: 33.3%;
  padding: 0 20px 40px;
}

.block_Img {
  display: block;
  width: 100%;
  height: auto;
  margin-bottom: 33px;
}
.block_Img img {
  display: block;
  width: 100%;
  height: auto;
}

.title {
  line-height: 1;
  font-size: 16px;
  font-family: "lr_ot4", "arial", "helvetica", sans-serif;
  color: #1d1a1a;
  text-transform: uppercase;
  letter-spacing: 0.8px;
  margin-bottom: 22px;
}

.text {
  font-size: 14px;
  line-height: 1;
  font-family: "lr_ot4", "arial", "helvetica", sans-serif;
  color: #4a4f54;
  letter-spacing: 0.5px;
  margin-bottom: 22px;
}

.icon {
  font-size: 10px;
  margin-left: -2px;
}

.linkFamily {
  line-height: 1;
  font-size: 10px;
  font-family: "lr_ot4", "arial", "helvetica", sans-serif;
  color: #1d1a1a;
  text-transform: uppercase;
  letter-spacing: 0.8px;
  margin-left: 8px;
  letter-spacing: 2px;
  font-weight: 600;
}