.wrapper {
  width: 100%;
  height: 90.4vh;
  overflow: hidden;
  margin: 0;
  position: relative;

}

.slider_line {
  max-width: 20000;
  display: flex;
  position: absolute;
  list-style: none;
  padding: 0;
  margin: 0;
  top: 0;
  left: 0;
  transition: all 1s;
}

/* стрелки */
.next {
  width: 25px;
  height: 25px;
  position: absolute;
  border-top: 2px solid rgb(255, 255, 255);
  border-right: 2px solid rgb(255, 255, 255);
  transform: rotate(45deg);
  top: 50%;
  right: 30px;
  cursor: pointer;
  z-index: 10;
}

.prev {
  width: 25px;
  height: 25px;
  position: absolute;
  border-top: 2px solid rgb(255, 255, 255);
  border-right: 2px solid rgb(255, 255, 255);
  transform: rotate(-135deg);
  top: 50%;
  left: 30px;
  cursor: pointer;
  z-index: 10;
}


/* маркеры */

.marcerBlock {
  position: absolute;
  bottom: 20px;
  left: 100px;
  width: 300px;
  padding: 10px 20px;
  display: flex;
  padding: 10px 20px;
}

.wrappMarcer {
  width: 42px;
  height: 10px;
  border: 1px solid #fcf9f7;
  border-bottom: 2px solid #fcf9f7;
  border-top: 2px solid #fcf9f7;
  position: relative;
  margin-left: 18px;
  box-shadow:0px 6px 4px 0px rgb(24 8 8 / 24%);
}

.marcerElem {
  width: 41px;
  height: 8px;
  box-shadow: 0 1px 4px 0 rgb(0 0 0 / 10%);
  position: absolute;
  top: 0;
  left: -1px;
}

.active {
  width: 40px;
  height: 6px;
  transition: all 1s;
  animation: active-marcer 6.8s;
}

@keyframes active-marcer {
  0% {
    width: 0px;
    background-color: #005a2b;
  }

  100% {
    width: 40px;
    background-color: #005a2b;
  }
}